$base: #01A75B;


a{
    color: $base;
    font-size: 50;
}

.logo-div{
    height: 133px;
    margin-top: 80px;
}

.btn-default{
    background-color: #01A75B;
    color: #fff
}

.btn-touch{
    background-color: rgb(64, 172, 123);
}